Alex Mae.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/

.App-link {
    color: #8DC6FF;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*******************************************
                 Navbar
/******************************************/

.iconNav {
    -webkit-transition: all 0.25s;
    position: absolute;
    width: 30px;
    height: 1px;
    left: 15px;
    top: 30px;
    background-color: white;
}



/*******************************************
                 Home page
/******************************************/

.mainDivHomePage {
    margin-top: 3%;
    margin-left: 2%;
    float: left;
    width: 50%;
}

.imageDivHomePage {
    margin-top: 5%;
    float: right;
    width: 46%;
}

@media screen and (max-width: 700px) {
    .mainDivHomePage {
        width: 100%;
    }
    .imageDivHomePage {
        width: 100%;
    }
}

.titleHomePage1 {
    color: #1167b1;
    font-size: 50px;
    font-weight: bold;
}

.titleHomePage3 {
    font-size: 30px;
    margin-top: 5%;
    color: #8DC6FF;
}

.linkSurvey {
    background: #1167b1;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 25%;
}

.linkSurvey:hover {
    background: transparent;
    border: 2px solid #1167b1;
    color: #1167b1;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
}


/*******************************************
    User form for login and register pages
/******************************************/
.divUserForm {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
}

.emailFormInput,
.passwordFormInput,
.firstNameFormInput,
.lastNameFormInput {
    padding: 1%;
    border: transparent;
    border-bottom: 1px solid black;
    font-size: 17px;
}

.buttonSubmitForm {
    margin-top: 5%;
    margin-left: 30%;
    color: white;
    background-color: #1167b1;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 5px 0 0 0 grey; /* Border right */
    box-shadow: 0 2px 0 0 grey; /* Border bottom */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.buttonSubmitForm:hover {
    background: transparent;
    border: 2px solid #1167b1;
    color: #1167b1;
    text-decoration: none;
    border-radius: 8px;
}

/*******************************************
            Login & Register pages
/******************************************/
.mainDivLogin {
    margin-left: 15%;
    margin-right: 15%;
}

.divImageLogin {
    float: right;
    display: inline-block;
    width: 60%;
}

.divInfoLogin {
    float: left;
    display: inline-block;
    width: 40%;
}

.mainTitleLogin {
    color: #8DC6FF;
    font-weight: bold;
    margin-left: 8%;
}

@media screen and (max-width: 1000px) {
    .divImageLogin,
    .divInfoLogin {
        width: 100%;
    }
}