.survey{
  margin-top: 150px ;
  margin-bottom: 150px;
  justify-content: center;

  
}


.table{
  align-self: center;
  display: inline;
}

td{
  text-align: left;
}

input.input-error,
select.input-error{
  border-color: #fc8181;
}

.error{
  color: #fc8181;
  font-size: 10px;
}
